.icon-user::before {
  position: relative;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f007";
}

.icon-location::before {
  position: relative;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f3c5";
}

.icon-bars::before {
  position: relative;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f0c9";
}

.icon-angle-down::after {
  position: relative;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f107";
}

.icon-angle-up::after {
  position: relative;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f106";
}

.icon-angle-left::after {
  position: relative;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f104";
}

.icon-angle-right::after {
  position: relative;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f105";
}

.icon-xmark::before {
  position: relative;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f00d";
}

.icon-volume::before {
  position: relative;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f028";
}

.icon-plus::after {
  position: relative;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "+";
}

.icon-chevron-left::before {
  position: relative;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f053";
}

.icon-chevron-right::before {
  position: relative;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f054";
}

.icon-play::before {
  position: relative;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f04b";
}

.icon-pause::before {
  position: relative;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f04c";
}

.icon-magnifying-glass::after {
  position: relative;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f002";
}

._margin-right_0 {
  margin-right: 0 !important;
}

html {
  font-size: 6.25%;
  font-family: "Noto Sans KR", sans-serif;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-size: 14rem;
}

@media screen and (max-width:767px) {
  *[data-media=mobile] {
    display: block;
  }
}
@media screen and (min-width:768px) and (max-width:1023px) {
  *[data-media=mobile] {
    display: none;
  }
}
@media screen and (min-width:1024px) {
  *[data-media=mobile] {
    display: none;
  }
}

@media screen and (max-width:767px) {
  *[data-media=tabletX] {
    display: block;
  }
}
@media screen and (min-width:768px) and (max-width:1023px) {
  *[data-media=tabletX] {
    display: block;
  }
}
@media screen and (min-width:1024px) {
  *[data-media=tabletX] {
    display: none;
  }
}

@media screen and (max-width:767px) {
  *[data-media=tabletY] {
    display: none;
  }
}
@media screen and (min-width:768px) and (max-width:1023px) {
  *[data-media=tabletY] {
    display: block;
  }
}
@media screen and (min-width:1024px) {
  *[data-media=tabletY] {
    display: block;
  }
}

@media screen and (max-width:767px) {
  *[data-media=desktop] {
    display: none;
  }
}
@media screen and (min-width:768px) and (max-width:1023px) {
  *[data-media=desktop] {
    display: none;
  }
}
@media screen and (min-width:1024px) {
  *[data-media=desktop] {
    display: block;
  }
}

@media screen and (min-width:1024px) {
  .ly-inner {
    max-width: 1600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    overflow: hidden;
  }
}

.navigation {
  position: relative;
  width: 100%;
}
.navigation .keen-slider__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation .arrow {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-width: 2px;
  border-style: solid;
  border-color: #1e3932;
  border-radius: 50%;
  line-height: 1;
  text-align: center;
  width: 20rem;
  height: 20rem;
  padding: 20rem;
  font-size: 24rem;
  color: #1e3932;
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  cursor: pointer;
}
.navigation .arrow--left {
  left: 20rem;
}
.navigation .arrow--left::after {
  position: relative;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f104";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation .arrow--right {
  right: 20rem;
}
.navigation .arrow--right::after {
  position: relative;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f105";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation .arrow--disabled.arrow--left,
.navigation .arrow--disabled.arrow--right {
  color: #036635;
  border-color: #036635;
}
.navigation .arrow--left,
.navigation .arrow--right,
.navigation .arrow--disabled.arrow--left,
.navigation .arrow--disabled.arrow--right {
  display: none;
}
@media screen and (min-width:1024px) {
  .navigation .arrow--left,
.navigation .arrow--right,
.navigation .arrow--disabled.arrow--left,
.navigation .arrow--disabled.arrow--right {
    display: block;
  }
}
.navigation .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width:1024px) {
  .navigation .toggle-btn {
    font-size: 18rem;
  }
}
.navigation .toggle-btn::before {
  position: relative;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  margin: 0 5rem;
  color: #036635;
  cursor: pointer;
  font: var(--fa-font-solid);
  content: "\f04c";
}
.navigation .toggle-btn.stop::before {
  content: "\f04b";
}
.navigation .dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
}
.navigation .dot {
  border: solid 3rem transparent;
  width: 12rem;
  height: 12rem;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5rem;
  cursor: pointer;
}
@media screen and (min-width:1024px) {
  .navigation .dot {
    width: 16rem;
    height: 16rem;
  }
}
.navigation .dot:focus {
  outline: none;
}
.navigation .dot--active {
  border: solid 3rem #036635;
  background-color: transparent;
}
@media screen and (min-width:1024px) {
  .navigation .dot--active {
    border: solid 3rem #036635;
  }
}

.gnb {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.gnb__item {
  flex: 1;
  border-bottom: 1px solid #0d0d0d;
}
.gnb__item._actived .gnb__link {
  height: 50px;
}
.gnb__item._actived .gnb__link::after {
  position: relative;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f106";
}
.gnb__item._actived .gnb__link-cont {
  text-decoration: underline;
}
.gnb__item._actived .lnb {
  display: block;
}

.lnb {
  display: none;
  color: #fff;
  background-color: #595959;
}

.lnb__item._actived .lnb__link::after {
  position: relative;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f106";
}
.lnb__item._actived .lnb__link-cont {
  text-decoration: underline;
}
.lnb__item._actived .sub-lnb {
  display: block;
}

.sub-lnb {
  display: none;
  color: #262626;
  background-color: #a6a6a6;
}

.gnb__link,
.lnb__link,
.sub-lnb__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  padding: 10rem 20rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fnb {
  color: #fff;
  background-color: #0d0d0d;
}

.header {
  background-color: #f6f5ef;
}

.header__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
@media screen and (min-width:1024px) {
  .header__inner {
    justify-content: space-between;
    align-items: flex-start;
  }
}

.header__logo {
  width: 50px;
  margin-right: auto;
}
@media screen and (max-width:767px) {
  .header__logo {
    width: 65px;
  }
}
@media screen and (min-width:1024px) {
  .header__logo {
    width: 80px;
  }
}

.header__logo-img {
  width: 100%;
  height: auto;
}

@media screen and (min-width:1024px) {
  .header__unb {
    margin-right: 50rem;
  }
}

.header__unb-icon {
  margin-right: 20rem;
  font-size: 32rem;
}

.header__unb-link {
  display: inline-block;
  padding: 5rem 10rem;
}
.header__unb-link:hover {
  text-decoration: underline;
}

.header__unb-search {
  margin-left: 10rem;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-width: 1px;
  border-style: solid;
  border-color: #a6a6a6;
  border-radius: 5rem;
  line-height: 1;
  text-align: center;
  background-color: #fff;
}

.header__unb-search-input {
  display: none;
}
.header__unb-search._actived .header__unb-search-input {
  display: inline-block;
}

.header__unb-search-icon {
  padding: 5rem;
  font-size: 16rem;
}

.header__sidebar {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  background-color: rgba(13, 13, 13, 0.5);
  color: #fff;
}
@media screen and (min-width:1024px) {
  .header__sidebar {
    display: block;
    top: 50px;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: transparent;
  }
}
.header__sidebar._actived {
  display: block;
}

.sidebar__inner {
  width: 60%;
  margin-left: auto;
  background-color: rgba(13, 13, 13, 0.8);
}
@media screen and (min-width:1024px) {
  .sidebar__inner {
    width: 100%;
    background-color: transparent;
  }
}

.sidebar__icon {
  position: absolute;
  top: 24rem;
  left: calc(35% - 24rem);
  width: 24rem;
  font-size: 24rem;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 10;
          animation-iteration-count: 10;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (min-width:1024px) {
  .sidebar__icon {
    display: none;
  }
}
.sidebar__icon:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.sidebar__search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  height: 70px;
  background-color: rgba(13, 13, 13, 0.5);
}
@media screen and (min-width:1024px) {
  .sidebar__search {
    display: none;
  }
}

.sidebar__search-input {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 5rem;
  line-height: 1;
  text-align: center;
  width: 50%;
  height: 35rem;
  background-color: #fff;
}

.sidebar__search-btn {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 5rem;
  line-height: 1;
  text-align: center;
  width: 30%;
  height: 35rem;
  line-height: 35rem;
  font-size: 14rem;
  letter-spacing: 1rem;
  background-color: #595856;
  box-shadow: 1px 1px 2px rgba(13, 13, 13, 0.5);
}

.header__gnb {
  height: calc(100vh - 70px);
}
@media screen and (min-width:1024px) {
  .header__gnb {
    flex-direction: row;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: auto;
    color: #000;
    background-color: transparent;
  }
}

@media screen and (min-width:1024px) {
  .header__gnb-item {
    flex: initial;
    border-bottom: none;
  }
}

.header__gnb-link_bgc_gray {
  background-color: rgba(89, 89, 89, 0.7);
}

@media screen and (min-width:1024px) {
  .header__lnb-wrapper {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 0;
    opacity: 0;
    background-color: #0d0d0d;
    transition-property: height;
    transition-duration: 1s;
  }
}

.header__lnb {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(89, 89, 89, 0.5);
}
@media screen and (min-width:1024px) {
  .header__lnb {
    display: flex;
    flex-wrap: wrap;
    font-size: 14rem;
    background-color: transparent;
  }
}

@media screen and (min-width:1024px) {
  .header__lnb-item {
    width: 25%;
    margin: 0 25rem 25rem;
  }
}

.header__sub-lnb {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(166, 166, 166, 0.2);
}
@media screen and (min-width:1024px) {
  .header__sub-lnb {
    display: block;
    font-size: 12rem;
    background-color: transparent;
  }
}

@media screen and (min-width:1024px) {
  .header__gnb-link,
.header__lnb-link,
.header__sub-lnb-link {
    height: 25px;
  }
  .header__gnb-link::after,
.header__lnb-link::after,
.header__sub-lnb-link::after {
    content: "" !important;
  }
  .header__gnb-link:hover,
.header__lnb-link:hover,
.header__sub-lnb-link:hover {
    text-decoration: underline;
  }
}

.header__gnb-link {
  height: 100%;
}
@media screen and (min-width:1024px) {
  .header__gnb-link:hover {
    border-radius: 5rem 5rem 0 0/5rem 5rem 0 0;
    color: #24bf4b;
    background-color: #0d0d0d;
  }
}

@media screen and (min-width:1024px) {
  .header__lnb-link {
    height: 50px;
    color: #fff;
  }
}

.header__sup_font-size_xx-small {
  font-size: 10rem;
}

.header__fnb {
  display: none;
  background-image: url(../imgs/gnb_sub_txbg.jpg);
}
@media screen and (min-width:1024px) {
  .header__fnb {
    display: block;
  }
}

.header__fnb-inner {
  padding: 20rem 40rem;
}

.header__fnb-ttl {
  font-size: 14rem;
}

.header__fnb-link {
  display: inline-block;
  padding: 0;
  color: rgba(255, 255, 255, 0.7);
}

.header__fnb-txt {
  font-size: 12rem;
  color: #24bf4b;
}
.header__fnb-txt:nth-of-type(1) {
  margin-bottom: 10rem;
}

.header__fnb-link-btn {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  border-radius: 15rem;
  line-height: 1;
  text-align: center;
  padding: 3rem 6rem;
  color: #fff;
  background-color: #24bf4b;
}

.main-banner {
  background-image: url(../imgs/m_2022_Summer1_main_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main__inner {
  position: relative;
  height: 100vh;
  padding: 20rem;
  overflow: hidden;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .main__inner {
    height: 40vh;
  }
}
@media screen and (min-width:1024px) {
  .main__inner {
    padding: 40rem;
    height: 70vh;
  }
}

.main__item {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s;
  transition-delay: 0.2s;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .main__item {
    position: absolute;
  }
}
@media screen and (min-width:1024px) {
  .main__item {
    position: absolute;
  }
}
.main__item._hidden {
  opacity: 0;
}

.main__img1 {
  height: 10%;
  margin-bottom: 40px;
  transition-delay: 0.2s;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .main__img1 {
    width: 160px;
    height: 100px;
  }
}
@media screen and (min-width:1024px) {
  .main__img1 {
    width: 220px;
    height: 140px;
  }
}

.main__img2 {
  height: calc((100% - 160px) / 3);
  transition-delay: 0.4s;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .main__img2 {
    bottom: 15%;
    left: 25%;
    width: 30%;
    height: auto;
  }
}
@media screen and (min-width:1024px) {
  .main__img2 {
    bottom: 15%;
    left: 25%;
    width: 30%;
    height: auto;
  }
}

.main__img3 {
  height: calc((100% - 160px) / 3);
  margin-left: auto;
  transition-delay: 0.6s;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .main__img3 {
    top: 15%;
    right: 20%;
    width: 35%;
    height: auto;
  }
}
@media screen and (min-width:1024px) {
  .main__img3 {
    top: 15%;
    right: 20%;
    width: 35%;
    height: auto;
  }
}

.main__img4 {
  height: calc((100% - 160px) / 3);
  transition-delay: 0.8s;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .main__img4 {
    bottom: 10%;
    right: 0;
    width: 20%;
    height: auto;
  }
}
@media screen and (min-width:1024px) {
  .main__img4 {
    bottom: 10%;
    right: 0;
    width: 20%;
    height: auto;
  }
}

.main__btn {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-width: 2px;
  border-style: solid;
  border-color: #bf382c;
  border-radius: 5rem;
  line-height: 1;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  padding: 5rem 10rem;
  color: #bf382c;
  display: block;
  margin-top: 10px;
  transition-delay: 1s;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .main__btn {
    top: 140px;
    left: 75px;
    font-size: 16rem;
  }
}
@media screen and (min-width:1024px) {
  .main__btn {
    top: 180px;
    left: 100px;
    font-size: 18rem;
  }
}

.notice {
  background-image: linear-gradient(to right, #0d0d0d 50%, #f6f5ef 50%);
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .notice-bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width:1024px) {
  .notice-bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.notice-bar__left {
  color: #fff;
  background-color: #0d0d0d;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .notice-bar__left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
}
@media screen and (min-width:1024px) {
  .notice-bar__left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
}

.notice-bar__right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  font-size: 16rem;
  font-weight: bold;
  letter-spacing: 1rem;
  background-color: #f6f5ef;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .notice-bar__right {
    width: 50%;
    background-color: transparent;
  }
}
@media screen and (min-width:1024px) {
  .notice-bar__right {
    width: 50%;
    background-color: transparent;
  }
}
.notice-bar__right::after {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  border-radius: 50%;
  line-height: 1;
  text-align: center;
  width: 20rem;
  height: 20rem;
  padding: 2rem;
  margin-left: 10rem;
}

.notice__btn {
  display: none;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .notice__btn {
    flex: 1;
    display: inline-block;
    margin: 0 20rem;
    font-size: 18rem;
    font-weight: bold;
    letter-spacing: 1rem;
  }
}
@media screen and (min-width:1024px) {
  .notice__btn {
    flex: 1;
    display: inline-block;
    margin: 0 20rem;
    font-size: 18rem;
    font-weight: bold;
    letter-spacing: 1rem;
  }
}

.notice__slider {
  flex: 3;
  height: 70px;
}
.notice__slider .keen-slider__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.notice__link {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 16rem;
}
.notice__link::after {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  border-radius: 50%;
  line-height: 1;
  text-align: center;
  width: 20rem;
  height: 20rem;
  padding: 2rem;
}
.notice__link::before, .notice__link::after {
  margin: 0 20rem;
}

.notice__link-cont {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.promotion {
  background-color: #f6f5ef;
  padding-bottom: 40rem;
}
.promotion._hidden {
  height: 0;
  padding-bottom: 0;
  opacity: 0;
}

.promotion__slider {
  height: 100%;
}

.promotion__keen-slider {
  flex-direction: column;
  opacity: 0.5;
}
.promotion__keen-slider.slide__active {
  opacity: 1;
}

.promotion__img {
  width: 100%;
  height: 0;
  padding-top: 70%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.promotion__img1 {
  background-image: url(../imgs/fs8Fa0_20220411134210197.jpg);
}

.promotion__img2 {
  background-image: url(../imgs/Y7YBKr_20220404160419657.jpg);
}

.promotion__img3 {
  background-image: url(../imgs/wW63vb_20211231154557623.jpg);
}

.copy {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 10rem;
  line-height: 1.4;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .copy {
    justify-items: left;
    text-align: left;
  }
}
@media screen and (min-width:1024px) {
  .copy {
    justify-items: left;
    text-align: left;
  }
}
.copy:nth-child(1) {
  grid-area: 1/1/2/2;
}
.copy:nth-child(2) {
  grid-area: 1/2/2/3;
}
.copy:nth-child(3) {
  grid-area: 1/3/2/4;
}
.copy:nth-child(4) {
  grid-area: 1/4/2/5;
}

.copy__ttl_h3 {
  font-size: 18rem;
  font-weight: bold;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .copy__ttl_h3 {
    font-size: 24rem;
  }
}
@media screen and (min-width:1024px) {
  .copy__ttl_h3 {
    font-size: 24rem;
  }
}

.copy__ttl_h4 {
  font-size: 16rem;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .copy__ttl_h4 {
    font-size: 18rem;
  }
}
@media screen and (min-width:1024px) {
  .copy__ttl_h4 {
    font-size: 18rem;
  }
}

.copy__txt {
  font-size: 14rem;
  line-height: 1.6;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .copy__txt {
    font-size: 16rem;
  }
}
@media screen and (min-width:1024px) {
  .copy__txt {
    font-size: 16rem;
  }
}

.copy__ttl-cont,
.copy__txt-cont {
  display: block;
}
@media screen and (min-width:1024px) {
  .copy__ttl-cont,
.copy__txt-cont {
    display: inline-block;
  }
}

.section__link-btn {
  font-size: 14rem;
  letter-spacing: 1rem;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-width: 2px;
  border-style: solid;
  border-color: inherit;
  border-radius: 5rem;
  line-height: 1;
  text-align: center;
  padding: 5rem 10rem;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .section__link-btn {
    font-size: 16rem;
  }
}
@media screen and (min-width:1024px) {
  .section__link-btn {
    font-size: 18rem;
  }
}

.membership {
  background-color: #1e3932;
}

.member__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 30px 0;
  color: #fff;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .member__inner {
    flex-direction: row;
  }
}
@media screen and (min-width:1024px) {
  .member__inner {
    flex-direction: row;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .member__logo {
    align-self: start;
    width: 30%;
  }
}
@media screen and (min-width:1024px) {
  .member__logo {
    align-self: start;
    width: 15%;
  }
}

.member__copy-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20rem;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .member__copy-wrapper {
    align-items: flex-start;
  }
}
@media screen and (min-width:1024px) {
  .member__copy-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.member__copy-wrapper1 {
  margin-bottom: 15rem;
}

.member__copy-wrapper2 {
  margin-top: 15rem;
}

.member__copy {
  color: #fff;
}

.member__btn-signup {
  margin-right: 10rem;
  border-color: #036635;
  background-color: #036635;
}

.member__gift-btn {
  letter-spacing: -1rem;
}

.member__hr {
  border: 0;
  height: 1px;
  background-color: #036635;
}

.bean-banner {
  height: 700px;
  background-image: url(../imgs/m_2022_Summer1_bean_bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .bean-banner {
    height: 500px;
  }
}
@media screen and (min-width:1024px) {
  .bean-banner {
    height: 400px;
  }
}

.bean__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  height: 100%;
  padding: 20px;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .bean__inner {
    flex-direction: row;
    gap: 100px;
  }
}
@media screen and (min-width:1024px) {
  .bean__inner {
    flex-direction: row;
    gap: 100px;
  }
}

.bean__img,
.bean__copy {
  flex: 1;
  position: relative;
  height: 100%;
  overflow: visible;
}

.bean__img > img {
  width: 100%;
  height: auto;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .bean__img > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 45%;
    transition-property: right, opacity;
    transition-duration: 1s, 0.5s;
  }
  .bean__img > img._hidden {
    right: 120%;
  }
}
@media screen and (min-width:1024px) {
  .bean__img > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 25%;
    transition-property: right, opacity;
    transition-duration: 1s, 0.5s;
  }
  .bean__img > img._hidden {
    right: 120%;
  }
}

.bean__copy {
  color: #030a8c;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .bean__copy {
    text-align: start;
  }
}
@media screen and (min-width:1024px) {
  .bean__copy {
    text-align: start;
  }
}

.bean__copy-ttl_h4 {
  color: #3071f2;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .bean__copy-ttl_h4 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    top: 30%;
    right: 100%;
    transform: translateX(100%);
    opacity: 1;
    transition-property: right, opacity;
    transition-duration: 1s, 0.5s;
  }
  .bean__copy-ttl_h4._hidden {
    right: -100%;
    opacity: 0;
  }
}
@media screen and (min-width:1024px) {
  .bean__copy-ttl_h4 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    top: 20%;
    right: 100%;
    transform: translateX(100%);
    opacity: 1;
    transition-property: right, opacity;
    transition-duration: 1s, 0.5s;
  }
  .bean__copy-ttl_h4._hidden {
    right: -100%;
    opacity: 0;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .bean__copy-ttl_h3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    top: calc(30% + 32rem);
    right: 100%;
    transform: translateX(100%);
    opacity: 1;
    transition-property: right, opacity;
    transition-duration: 1s, 0.5s;
  }
  .bean__copy-ttl_h3._hidden {
    right: -100%;
    opacity: 0;
  }
}
@media screen and (min-width:1024px) {
  .bean__copy-ttl_h3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    top: calc(20% + 32rem);
    right: 100%;
    transform: translateX(100%);
    opacity: 1;
    transition-property: right, opacity;
    transition-duration: 1s, 0.5s;
  }
  .bean__copy-ttl_h3._hidden {
    right: -100%;
    opacity: 0;
  }
}

.bean__copy-txt {
  color: #020659;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .bean__copy-txt {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    top: calc(30% + 80rem);
    right: 100%;
    transform: translateX(100%);
    opacity: 1;
    transition-property: right, opacity;
    transition-duration: 1s, 0.5s;
  }
  .bean__copy-txt._hidden {
    right: -100%;
    opacity: 0;
  }
}
@media screen and (min-width:1024px) {
  .bean__copy-txt {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    top: calc(20% + 80rem);
    right: 100%;
    transform: translateX(100%);
    opacity: 1;
    transition-property: right, opacity;
    transition-duration: 1s, 0.5s;
  }
  .bean__copy-txt._hidden {
    right: -100%;
    opacity: 0;
  }
}

@media screen and (min-width:1024px) {
  .bean__copy-txt-cont {
    display: block;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .bean__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    top: calc(30% + 160rem);
    right: 100%;
    transform: translateX(100%);
    opacity: 1;
    transition-property: right, opacity;
    transition-duration: 1s, 0.5s;
  }
  .bean__btn._hidden {
    right: -100%;
    opacity: 0;
  }
}
@media screen and (min-width:1024px) {
  .bean__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    top: calc(20% + 160rem);
    right: 100%;
    transform: translateX(100%);
    opacity: 1;
    transition-property: right, opacity;
    transition-duration: 1s, 0.5s;
  }
  .bean__btn._hidden {
    right: -100%;
    opacity: 0;
  }
}

.reserve-banner {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 180%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../imgs/m_reserve_2022_indonesia_visual.jpg);
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .reserve-banner {
    width: 100%;
    height: 0;
    padding-top: 140%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: center 30%;
  }
}
@media screen and (min-width:1024px) {
  .reserve-banner {
    width: 100%;
    height: 0;
    padding-top: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../imgs/reserve_2022_indonesia_title.png), url(../imgs/reserve_2022_indonesia_visual3.png), url(../imgs/reserve_2022_indonesia_visual_bg.jpg);
    background-repeat: no-repeat;
    background-position: 20% 30%, 30% 100%, 0 0;
    background-size: 50% auto, 150% auto, cover;
  }
}

.reserve__btn {
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .reserve__btn {
    bottom: 50px;
  }
}
@media screen and (min-width:1024px) {
  .reserve__btn {
    bottom: 50px;
    left: 40%;
    border-color: #bf8d30;
    color: #bf8d30;
  }
}

.product-banner {
  height: 700px;
  background-image: url(../imgs/mob_fav_prod_bg_new.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .product-banner {
    height: 900px;
  }
}
@media screen and (min-width:1024px) {
  .product-banner {
    height: 500px;
  }
}

.product__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: visible;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .product__inner {
    gap: 100px;
  }
}
@media screen and (min-width:1024px) {
  .product__inner {
    flex-direction: row-reverse;
    gap: 100px;
  }
}

.product__img,
.product__copy {
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.product__img {
  text-align: center;
}

.product__img > img {
  width: 100%;
  height: auto;
  max-width: 80%;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .product__img > img {
    position: absolute;
    right: -10%;
  }
}
@media screen and (min-width:1024px) {
  .product__img > img {
    position: absolute;
    right: -10%;
    max-width: 80%;
  }
}

.product__copy {
  color: #fff;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .product__copy {
    text-align: center;
  }
}
@media screen and (min-width:1024px) {
  .product__copy {
    height: 50%;
    text-align: start;
  }
}

.product__copy-ttl_h3 {
  position: absolute;
  top: 0%;
  opacity: 1;
  transition-property: top, opacity;
  transition-duration: 1s, 0.5s;
}
.product__copy-ttl_h3._hidden {
  top: -100%;
  opacity: 0;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .product__copy-ttl_h3 {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (min-width:1024px) {
  .product__copy-ttl_h3 {
    left: 30%;
    transition-property: left;
    transition-duration: 1s;
  }
  .product__copy-ttl_h3._hidden {
    top: 0%;
    left: -100%;
  }
}

.product__copy-txt {
  position: absolute;
  top: calc(0% + 64rem);
  opacity: 1;
  transition-property: top, opacity;
  transition-duration: 1s, 0.5s;
}
.product__copy-txt._hidden {
  top: 200%;
  opacity: 0;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .product__copy-txt {
    top: calc(0% + 96rem);
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (min-width:1024px) {
  .product__copy-txt {
    top: calc(0% + 64rem);
    left: 30%;
    transition-property: left;
    transition-duration: 1s;
  }
  .product__copy-txt._hidden {
    top: calc(0% + 64rem);
    left: -100%;
  }
}

@media screen and (min-width:1024px) {
  .product__copy-txt-cont {
    display: block;
  }
}

.product__btn {
  position: absolute;
  top: calc(0% + 192rem);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1.5s;
  transition-delay: 0.5s;
}
.product__btn._hidden {
  opacity: 0;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .product__btn {
    top: calc(0% + 256rem);
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (min-width:1024px) {
  .product__btn {
    top: calc(0% + 224rem);
    left: 30%;
  }
}

.reserve-magazine {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 180%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../imgs/reserve_visual_m_220119.jpg);
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .reserve-magazine {
    width: 100%;
    height: 0;
    padding-top: 160%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: center 10%;
  }
}
@media screen and (min-width:1024px) {
  .reserve-magazine {
    width: 100%;
    height: 0;
    padding-top: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../imgs/reserve_text_pc_220120.png), url(../imgs/reserve_visual_pc_220119.png), url(../imgs/reserve_bg_pc.png);
    background-repeat: no-repeat;
    background-position: 10% 30%, 90% 0, 60% 90%;
    background-size: 50% auto, 35% auto, 200% auto;
  }
}
.reserve-magazine .magazine__btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  color: #000;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .reserve-magazine .magazine__btn {
    bottom: 40px;
  }
}
@media screen and (min-width:1024px) {
  .reserve-magazine .magazine__btn {
    bottom: 120rem;
  }
}

.store-info {
  height: 700px;
  background-image: url(../imgs/store_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .store-info {
    height: 500px;
  }
}
@media screen and (min-width:1024px) {
  .store-info {
    height: 500px;
  }
}

.store__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  overflow: visible;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .store__inner {
    flex-direction: row;
    gap: 50px;
  }
}
@media screen and (min-width:1024px) {
  .store__inner {
    flex-direction: row;
    gap: 50px;
  }
}

.store__img,
.store__copy {
  flex: 2;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.store__img_flex_1 {
  flex: 1;
}

.store__img > img {
  position: absolute;
  height: auto;
}

.store__img1 {
  top: 30%;
  left: 35%;
  z-index: 10;
  width: 180px;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .store__img1 {
    top: 20%;
    left: 40%;
  }
}
@media screen and (min-width:1024px) {
  .store__img1 {
    top: 25%;
    left: 35%;
  }
}

.store__img2 {
  top: 0;
  width: 300px;
}

.store__img3 {
  top: 65%;
  left: 0;
  width: 300px;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .store__img3 {
    top: 40%;
    left: 0;
  }
}
@media screen and (min-width:1024px) {
  .store__img3 {
    top: 50%;
    left: 0;
  }
}

.store__img4 {
  right: 0;
  bottom: 0;
  width: 200px;
}

.store__copy {
  color: #000;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .store__copy {
    text-align: center;
  }
}
@media screen and (min-width:1024px) {
  .store__copy {
    height: 50%;
    text-align: start;
  }
}

.store__copy-ttl_h3 {
  position: absolute;
  top: 0;
  transform: translateY(100%);
  opacity: 1;
  transition-property: top, opacity;
  transition-duration: 1s, 0.5s;
}
.store__copy-ttl_h3._hidden {
  top: -100%;
  opacity: 0;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .store__copy-ttl_h3 {
    top: 30%;
    right: 100%;
    transform: translateX(100%);
    transition-property: right;
    transition-duration: 1s;
  }
  .store__copy-ttl_h3._hidden {
    top: 30%;
    right: -100%;
  }
}
@media screen and (min-width:1024px) {
  .store__copy-ttl_h3 {
    top: 0%;
    right: 100%;
    transform: translateX(100%);
    transition-property: right;
    transition-duration: 1s;
  }
  .store__copy-ttl_h3._hidden {
    top: 0%;
    right: -100%;
  }
}

.store__copy-ttl_h4 {
  position: absolute;
  top: 96rem;
  transform: translateY(100%);
  opacity: 1;
  transition-property: top, opacity;
  transition-duration: 1s, 0.5s;
}
.store__copy-ttl_h4._hidden {
  top: -100%;
  opacity: 0;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .store__copy-ttl_h4 {
    top: calc(30% + 48rem);
    right: 100%;
    transform: translateX(100%);
    transition-property: right;
    transition-duration: 1s;
  }
  .store__copy-ttl_h4._hidden {
    top: calc(30% + 48rem);
    right: -100%;
  }
}
@media screen and (min-width:1024px) {
  .store__copy-ttl_h4 {
    top: calc(0% + 48rem);
    right: 100%;
    transform: translateX(100%);
    transition-property: right;
    transition-duration: 1s;
  }
  .store__copy-ttl_h4._hidden {
    top: calc(0% + 48rem);
    right: -100%;
  }
}

.store__copy-txt {
  position: absolute;
  top: 96rem;
  transform: translateY(100%);
  opacity: 1;
  transition-property: top, opacity;
  transition-duration: 1s, 0.5s;
}
.store__copy-txt._hidden {
  top: 200%;
  opacity: 0;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .store__copy-txt {
    top: calc(30% + 96rem);
    right: 100%;
    transform: translateX(100%);
    text-align: start;
    transition-property: right;
    transition-duration: 1s;
  }
  .store__copy-txt._hidden {
    top: calc(30% + 96rem);
    right: -100%;
  }
}
@media screen and (min-width:1024px) {
  .store__copy-txt {
    top: calc(0% + 96rem);
    right: 100%;
    transform: translateX(100%);
    transition-property: right;
    transition-duration: 1s;
  }
  .store__copy-txt._hidden {
    top: calc(0% + 96rem);
    right: -100%;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .store__copy-ttl-cont {
    display: inline-block;
  }
}

@media screen and (min-width:1024px) {
  .store__copy-txt-cont {
    display: block;
  }
}

.store__btn {
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1.5s;
  transition-delay: 0.5s;
}
.store__btn._hidden {
  opacity: 0;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .store__btn {
    top: calc(0% + 352rem);
    right: 100%;
    transform: translateX(100%);
  }
}
@media screen and (min-width:1024px) {
  .store__btn {
    top: calc(0% + 192rem);
    right: 100%;
    transform: translateX(100%);
  }
}

.footer {
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  background-color: #262626;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}

.footer__gnb {
  color: rgba(255, 255, 255, 0.8);
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .footer__gnb {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width:1024px) {
  .footer__gnb {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .footer__gnb-item {
    flex: initial;
    width: 30%;
    border-bottom: none;
  }
}
@media screen and (min-width:1024px) {
  .footer__gnb-item {
    flex: initial;
    width: 16.6666666667%;
    border-bottom: none;
  }
}

.footer__gnb-link {
  height: 50px;
}

.footer__lnb {
  color: rgba(255, 255, 255, 0.5);
  background-color: #595959;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .footer__lnb {
    display: block;
    background-color: transparent;
  }
}
@media screen and (min-width:1024px) {
  .footer__lnb {
    display: block;
    background-color: transparent;
  }
}

@media screen and (min-width:1024px) {
  .footer__lnb-link {
    padding: 0;
  }
}

.footer__sub-lnb {
  color: #262626;
  background-color: #a6a6a6;
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .footer__gnb-link.icon-angle-down::after,
.footer__lnb-link.icon-angle-down::after {
    display: none;
  }
}
@media screen and (min-width:1024px) {
  .footer__gnb-link.icon-angle-down::after,
.footer__lnb-link.icon-angle-down::after {
    display: none;
  }
}

.footer__btn-set {
  text-align: center;
}

.footer__btn-link {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-radius: 5rem;
  line-height: 1;
  text-align: center;
  width: 30%;
  padding: 10rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .footer__btn-link {
    width: 20%;
  }
}
@media screen and (min-width:1024px) {
  .footer__btn-link {
    width: 20%;
  }
}

.footer__award {
  position: absolute;
  bottom: 300px;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: url(../imgs/gnb_sub_txbg.jpg);
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .footer__award {
    bottom: 300px;
  }
}
@media screen and (min-width:1024px) {
  .footer__award {
    bottom: 300px;
  }
}
.footer__award .navigation {
  margin-top: 20px;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .footer__award .navigation {
    margin-top: 20px;
  }
}
@media screen and (min-width:1024px) {
  .footer__award .navigation {
    margin-top: 10px;
  }
}
.footer__award .navigation .dot,
.footer__award .navigation .arrow {
  display: none;
}

.footer__agreement,
.footer__business,
.footer__copyright {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

@media screen and (min-width:1024px) {
  .footer__unb {
    display: none;
  }
}

.footer__agreement {
  margin-top: 100px;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .footer__agreement {
    margin-top: 150px;
  }
}
@media screen and (min-width:1024px) {
  .footer__agreement {
    margin-top: 150px;
  }
}

.footer__agree-link {
  display: inline-block;
  padding: 0 10rem;
  margin-bottom: 10rem;
  border-right: solid 1px rgba(255, 255, 255, 0.2);
  line-height: 1;
}
.footer__agree-link:first-child {
  color: #24bf4b;
}

.footer__biz-item {
  line-height: 1.5;
}

.footer-logo {
  display: none;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .footer-logo {
    position: absolute;
    top: 40px;
    right: 40px;
    display: block;
  }
}
@media screen and (min-width:1024px) {
  .footer-logo {
    position: absolute;
    top: 40px;
    right: 40px;
    display: block;
  }
}

.pop-up {
  position: fixed;
  top: 20vh;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .pop-up {
    right: 1vw;
  }
}
@media screen and (min-width:1024px) {
  .pop-up {
    right: 3vw;
  }
}

.pop-up__img {
  width: 100%;
  height: auto;
  filter: drop-shadow(1px 1px 1px #222026);
}/*# sourceMappingURL=main.css.map */